
<div class="container">

  <div class="row">
    <div class="col-md-12">
      <h1>odd daily report</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <%= link_to '建立新日誌', new_diary_path, class: 'btn btn-primary' %>
    </div>
  </div>


  <div class="row">
    <div class="col-md-12">
      <table class="table table-striped">

        <thead>
          <td>description</td>
          <td>date</td>
          <td></td>
          <td></td>
        </thead>

        <tbody>
          <% @diaries.each do |diary|%>
            <tr>
              <td><%= diary.description %></td>
              <td><%= diary.created_at.to_date %></td>
              <td class="text-center"><%= link_to 'Enter', diary_path(diary), class: 'btn btn-primary' %></td>
              <td class="text-center"><%= link_to 'Edit', edit_diary_path(diary), class: 'btn btn-warning' %></td>
              <td class="text-center"><%= link_to 'Delete', diary_path(diary), method: :delete, class: 'btn btn-danger' %></td>
            </tr>
          <% end %>
        </tbody>


      </table>
    </div>
  </div>

</div>


