<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1><%= @diary.description %></h1>
    </div>

    <div class="col-md-12">
      <span><%= @diary.created_at.to_date %> </span>
    </div>
 
    <div class="col-md-12">
      <%= link_to '新增代辦事項', new_diary_task_path(@diary), class: "btn btn-primary"%>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>title</th>
            <th>description</th>
            <th>status</th>
          </tr>
        </thead>
        <tbody>
          <% @tasks.each do |task| %>
            <tr>
              <td><%= task.title %></td>
              <td><%= task.description %></td>
              <td><%= task.is_checked.to_s %></td>
              <td><%= render_check_task_btn(task)%></td>
              <td><%= link_to 'Edit', edit_task_path(task), class: "btn btn-warning" %></td>
              <td><%= link_to 'Delete', diary_task_path(@diary, task), method: :delete , class: "btn btn-danger"%></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>



</div>
