<div class="container">

  <div class="row">
    <div class="col-md-12">
      <h1>編輯代辦事項</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <%= form_for [@diary, @task] do |f| %>
        <span><%= f.label :title %></span>
        <span><%= f.text_field :title %></span>
        <span><%= f.label :description %></span>
        <span><%= f.text_field :description %></span>
        <div class="submit-button">
          <%= f.submit "確認修改" %>
        </div>
      <% end %>
    </div>
  </div>

</div>
